.flex{
    display: flex;
}

.item-center{

    align-items: center;
}

.justify_center{
    justify-content: center;
}

.semi-bold{
    font-weight: bolder;
}

.space-bwn{
    justify-content: space-between;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}